.calculator {
  display: grid;
  grid-template-columns: repeat(4, minmax(75px, auto));
  grid-template-rows:minmax(150px, auto) repeat(4, minmax(90px, auto));
  gap: 1rem 1rem;
} 
.calculator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #68045a;
}

.display {
  grid-column: 1/5;
  grid-row: 1/2;
}

.keyboard {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 6;
  display: grid;
  grid-template-columns: repeat(4, minmax(20px,auto));
  gap: 1rem 1rem;
}

@media (min-width: 700px) {
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, minmax(75px, auto));
    grid-template-rows:minmax(150px, auto) repeat(4, minmax(90px, auto));
    gap: 1rem 1rem;
  } 
  .calculator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #68045a;
  }
  
  .display {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  
  .keyboard {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: repeat(4, minmax(20px,auto));
    gap: 1rem 1rem;
  }
}