.calculator {
  display: grid;
  grid-template-columns: repeat(4, minmax(75px, auto));
  grid-template-rows: minmax(20px,auto) minmax(120px,auto) repeat(5, minmax(20px,auto));
  gap: 1em 1em;
} 
.calculator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #68045a;
  vertical-align: middle;
  border: none;
}

.calculator > div {
  padding: 0.8em 0.8em;
}

@media (max-width: 300px) {
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, minmax(75px, auto));
    grid-template-rows: minmax(20px,auto) minmax(120px,auto) repeat(5, minmax(20px,auto));
    gap: 0.5em 0.5em;
  }   
  .calculator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #68045a;
    vertical-align: middle;
    border: none;
  }
  .calculator > div {
    padding: 0.8em 0.8em;
  }
}