.calculator {
  display: grid;
  grid-template-columns: minmax(240px, auto);
  grid-template-rows: minmax(180px, auto);
} 
.displayRender {
  grid-column: 1/2;
}
.keyboardRender {
  grid-row: 2/3;
}

.calculator {
  position: sticky;
  padding: 1.5rem 0rem;
}
.displayRender {
  display: grid;
  grid-template-columns: minmax(240px, auto);
  grid-template-rows: minmax(60px, auto) minmax(110px, auto);
  background-color: #F8D7F3;
  border: none;
}

.keyboardRender {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, minmax(70px, 1fr));
  grid-template-rows: repeat(5, minmax(80px, 1fr));
  place-items: stretch stretch;
  color: white;
  background-color: #68045a;
}

.keyboardRender {
  position: relative;
  padding: 0.5rem 0.5rem;
  font-size: 25px;
  font-weight: 600;
}

.keyboardRender :hover {
  background-color: #4bbd97;
}

@media (min-width: 550px) {
  .calculator {
    display: grid;
    grid-template-columns: minmax(300px, 400px);
    grid-template-rows: minmax(180px, auto);
  } 
  .displayRender {
    grid-column: 1/2;
  }
  .keyboardRender {
    grid-row: 2/3;
  }
  
  .calculator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem 0rem;
  }
  .displayRender {
    background-color: #F8D7F3;
    font-size: 60px;
    text-align: right;
    border: none;
  }
  
  .keyboardRender {
    display: grid;
    grid-template-columns: repeat(4, minmax(70px,auto));
    grid-template-rows: repeat(5, minmax(80px,auto));
    color: white;
    background-color: #68045a;
    gap: 0.5rem 0.5rem;
  }
  
  .keyboardRender {
    position: relative;
    padding: 0.5rem 0.5rem;
  }
  
  .keyboardRender :hover {
    background-color: #4bbd97;
  }
  
}