.box1 {
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 150%;
  text-align: left;
  align-self: center;
}

@media (max-width: 300px) {
  .box1 {
    grid-column-start: 1;
    grid-column-end: 5;
    align-self: center;
  }
}