.stylesOperator {
  font-size: 20px;
  width: 80px; 
  height: 80px; 
  background-color: #f2b6d8;
  border-style: groove;
}

.stylesNumber {
  font-size: 20px;
  width: 80px;
  height: 80px;
  background-color: lightblue;
  border-style: groove;
}

.stylesDel {
  font-size: 20px;
  width: 80px; 
  height: 80px; 
  background-color: orange;
  border-style: groove;
}

.stylesDisplay {
  font-size: 35px;
  background-color: #c7f3ff;
  text-align: right;
  width: 312px;
  height: 80px;
  border-style: groove;
}

.stylesName {
  font-size: 18px;
  background-color: #c7f3ff;
  text-align: left;
  width: 312px;
  height: 25px;
  border-style: groove;
}

.body {
  width: 50%;
  margin: 30% auto;
  padding: 5px 5px 5px 5px;
}