body {
  background-color: #282c34;
  color: white;
  font-family: Arial;
  width: 40% auto;
  margin: 10%;
  text-align: center;
}

.stylesOperator {
  font-size: 20px;
  width: 80px; 
  height: 80px; 
  background-color: #99ff99;
  border-style: groove;
}

.stylesNumber {
  font-size: 20px;
  width: 80px;
  height: 80px;
  background-color: #ccffcc;
  border-style: groove;
}

.stylesDel {
  font-size: 20px;
  width: 80px; 
  height: 80px; 
  background-color: #00ff00;
  border-style: groove;
}

.stylesDisplay {
  font-size: 45px;
  background-color: #e6ffe6;
  text-align: end;
  width: 312px;
  height: 100px;
  border-style: groove;
}

.stylesName {
  font-size: 18px;
  background-color: #009900;
  color: white;
  text-align: left;
  width: 312px;
  height: 25px;
  border-style: groove;
  margin-left: auto;
}